#navbar-list{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: black;
}
#navbar-item{
    float: left;
}
#navbar-item a{
    display: block;
    padding: 20px;
    color: white;
    text-align: center; 
    text-decoration: none;
}
#navbar-item a:hover {
    background-color: gray;
}
.active {
    background-color: blue;
}
#navbar-item.contact{
    float: right;
}
#name{
    padding-top: 5%;
    display: block;
    width: 100%;
    text-align: center;
    color: gray;
    font-size: 6em;
}
#desc{
    padding-top: 1%;
    display: block;
    width: 80%;
    padding-left: 10%;
    text-align: center;
    font-size: 1.5em;
}
#content-left{
    display: inline-block;
    width: 40%;
    height: 30%;
    margin-top: 2%;
    padding-left: 5%;
}
#content-right{
    display: inline-block;
    width: 50%;
    height: 30%;
    text-align: center;
    vertical-align: top;
    border-left: 1px solid gray;
    margin-top: 2%;
}
#project-title{
    font-size: 2em;
    font-weight: bold;
    display: block;
    
}
#nba-image{
    padding-top: 2%;
    width: 35%;
    height: 20%;
    padding-right: 10%;
}
#baseball-image{
    padding-top: 2%;
    width: 35%;
    height: 20%;
}
#resume-title{
    display: block;
    text-align: center;
    width: 100%;
    padding-top: 2%;
    font-size: 3em;
}
